<a href="https://colab.research.google.com/github/AnkitKumar2698/Data-Structure-And-Algorithms-/blob/master/PySpark_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 34 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 29.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=bb79af5601526ab7adf53d00b16785d84729b19dabf75011d9909ad1c22f11f4
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [ ]:
df_pySpark=spark.read.option('header','true').csv('test.csv')

In [ ]:
df_pySpark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- salery: string (nullable = true)

In [ ]:
type(df_pySpark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pySpark.columns

['Name', 'Age', 'salery']

In [ ]:
  df_pySpark.head(2)

[Row(Name='Bhavuk', Age='21', salery='50000'),
 Row(Name='Jatin', Age='20', salery=None)]

In [ ]:
df_pySpark.show()

+------+----+------+
|  Name| Age|salery|
+------+----+------+
|Bhavuk|  21| 50000|
| Jatin|  20|  null|
|  Aman|null|100000|
|Sparsh|  30| 50000|
| Udyan|null| 60000|
|Gaurav|  22|  null|
+------+----+------+

In [ ]:
df_pySpark.select('Name').show()

+------+
|  Name|
+------+
|Bhavuk|
| Jatin|
|  Aman|
|Sparsh|
| Udyan|
|Gaurav|
+------+

In [ ]:
type(df_pySpark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pySpark.dtypes

[('Name', 'string'), ('Age', 'string'), ('salery', 'string')]

In [ ]:
df_pySpark.describe().show()

+-------+-----+-----------------+------------------+
|summary| Name|              Age|            salery|
+-------+-----+-----------------+------------------+
|  count|    6|                4|                 4|
|   mean| null|            23.25|           65000.0|
| stddev| null|4.573474244670748|23804.761428476166|
|    min| Aman|               20|            100000|
|    max|Udyan|               30|             60000|
+-------+-----+-----------------+------------------+

In [ ]:
df_pySpark=df_pySpark.withColumn('Salery After 2 years',df_pySpark['salery']+10000)

In [ ]:
df_pySpark.show()

+------+----+------+--------------------+
|  Name| Age|salery|Salery After 2 years|
+------+----+------+--------------------+
|Bhavuk|  21| 50000|             60000.0|
| Jatin|  20|  null|                null|
|  Aman|null|100000|            110000.0|
|Sparsh|  30| 50000|             60000.0|
| Udyan|null| 60000|             70000.0|
|Gaurav|  22|  null|                null|
+------+----+------+--------------------+

In [ ]:
df_pySpark=df_pySpark.drop('Salery After 2 years')

In [ ]:
df_pySpark.show()

+------+----+------+
|  Name| Age|salery|
+------+----+------+
|Bhavuk|  21| 50000|
| Jatin|  20|  null|
|  Aman|null|100000|
|Sparsh|  30| 50000|
| Udyan|null| 60000|
|Gaurav|  22|  null|
+------+----+------+

In [ ]:
df_pySpark.withColumnRenamed('Name','Name Change').show()

+-----------+----+------+
|Name Change| Age|salery|
+-----------+----+------+
|     Bhavuk|  21| 50000|
|      Jatin|  20|  null|
|       Aman|null|100000|
|     Sparsh|  30| 50000|
|      Udyan|null| 60000|
|     Gaurav|  22|  null|
+-----------+----+------+

In [ ]:
df_pySpark.show()

+------+----+------+
|  Name| Age|salery|
+------+----+------+
|Bhavuk|  21| 50000|
| Jatin|  20|  null|
|  Aman|null|100000|
|Sparsh|  30| 50000|
| Udyan|null| 60000|
|Gaurav|  22|  null|
+------+----+------+

In [ ]:
df_pySpark.na.drop().show()

+------+---+------+
|  Name|Age|salery|
+------+---+------+
|Bhavuk| 21| 50000|
|Sparsh| 30| 50000|
+------+---+------+

In [ ]:
df_pySpark.na.drop(how="any",subset=['age']).show()

+------+---+------+
|  Name|Age|salery|
+------+---+------+
|Bhavuk| 21| 50000|
| Jatin| 20|  null|
|Sparsh| 30| 50000|
|Gaurav| 22|  null|
+------+---+------+

In [ ]:
df_pySpark.na.fill('missing','age').show()

+------+-------+------+
|  Name|    Age|salery|
+------+-------+------+
|Bhavuk|     21| 50000|
| Jatin|     20|  null|
|  Aman|missing|100000|
|Sparsh|     30| 50000|
| Udyan|missing| 60000|
|Gaurav|     22|  null|
+------+-------+------+