<a href="https://colab.research.google.com/github/AnkitKumar2698/Data-Structure-And-Algorithms-/blob/master/Python/Solution_of_Python_Basic_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1). Write a program to reverse an integer in Python

In [ ]:
n = int(input("please give a number : "))
print("before reverse your numeber is : %d" %n)
reverse = 0
while n!=0:
    reverse = reverse*10 + n%10       
    n = (n//10)
print("After reverse : %d" %reverse)

please give a number : 548
before reverse your numeber is : 548
After reverse : 845

Q2). Write a program in Python to print the Fibonacci series using iterative method.

In [ ]:
first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 10
fibonacci series are :
0
1
1
2
3
5
8
13
21
34

Q3). Write a program in Python to swap two numbers without using third variable?

In [ ]:
a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
a=a-b
b=a+b
a=b-a
print("After swapping")
print("value of a is : ", a);
print("value of b is : ", b);

please give first number a: 5
please give second number b: 6
After swapping
value of a is :  6
value of b is :  5

Q4). Python program to calculate LCM of given two numbers.

In [ ]:
num1 = int(input("Enter first number: "))  
num2 = int(input("Enter second number: "))  
if num1 > num2:  
    greater = num1  
else:  
    greater = num2  
while(True):  
    if((greater % num1 == 0) and (greater % num2 == 0)):  
        lcm = greater  
        break  
    greater += 1  
print("LCM of",num1,"and",num2,"=",greater)

Enter first number: 5
Enter second number: 5
LCM of 5 and 5 = 5

Q5). Python Program to find GCD or HCF of two numbers.

In [ ]:
num1 = int(input("Enter first number: "))  
num2 = int(input("Enter second number: "))  
#checking for smaller number
if num1 > num2:
    minimum = num2
else:
    minimum = num1
#finding highest factor of the numbers
for i in range(1, minimum+1):
    if((num1 % i == 0) and (num2 % i == 0)):
        hcf = i 
print("hcf/gcd of",num1,"and",num2,"=",hcf)

Enter first number: 5
Enter second number: 5
hcf/gcd of 5 and 5 = 5

Q6). Python program to concatenate two strings using join() method.

In [ ]:
#taking inputs from the user
str1 = input('Enter first string: ')
str2 = input('Enter second string: ')
#printing the output after using join() method
print("String after concatenation :","".join([str1, str2]))

Enter first string: ankit
Enter second string: sharma
String after concatenation : ankitsharma

Q7). Python Program to Convert Decimal Number into Binary.

In [ ]:
nums = int(input("Enter first number: "))  
print(bin(nums).replace("0b",''))

Enter first number: 10
1010

In [39]:
def bin(n):
  str1=""
  while(n>0):
    rem=n%2
    str1+=str(rem)
    n=n//2
  return(str1)
print(bin(7))

111

Q8.)Write a lambda function to find power of a number .

In [ ]:
x = lambda a,p: pow(a,p)

nums = int(input("Enter Number of which power to be calculated : ")) 
p =int(input("Power to be calculated  : " ))

print(x(nums,p))

Enter Number of which power to be calculated : 5
Power to be calculated  : 2
25

Find Duplicate Characters in a string.

In [ ]:
## initializing string
string = "pepcoding"
## initializing a dictionary
duplicates = {}
for char in string:
   ## checking whether the char is already present in dictionary or not
   if char in duplicates:
      ## increasing count if present
      duplicates[char] += 1
   else:
      ## initializing count to 1 if not present
      duplicates[char] = 1
for key, value in duplicates.items():
   if value > 1:
      print(key, end = " ")
print()

p

In [10]:
num = input("Enter a number")
num = num[: :-1]
print(num)

Enter a number2543524352
2534253452

In [7]:

n=int(input()) 
s=0
while n:
   s=s*10+n%10
   n=n//10
print(s)

68976
67986

In [9]:
n=input()
print(str(n)[:-1])

2543543
254354

In [1]:
terms=int(input("Enter the terms you want in Fab SERIES: "))
n1 = 0 
n2 = 1
count = 0 

if terms==1:
    print(n1)
else:
    while count<terms:
        print(n1)
        nterm = n1 +n2
        n1 = n2
        n2 = nterm
        count +=1

Enter the terms you want in Fab SERIES: 10
0
1
1
2
3
5
8
13
21
34

In [1]:
a=0
b=1
n=int(input("enter the num"))
while(n!=0):
  print(a)
  c=a+b
  a=b
  b=c
  n-=1

enter the num10
0
1
1
2
3
5
8
13
21
34

In [1]:
a=int(input())
d=0
b=1
i=1
while(i<=a) :
 c=a+b
 print(c)
 d=b
 b=c
 i=i+1

10
11
21
31
41
51
61
71
81
91
101

In [3]:
a = 2
b = 3
a,b = b,a
print(a)
print(b)

3
2

In [5]:
def rev(n):
  temp=n
  length=0
  while(temp>0): 
    temp//=10
    length+=1
  sum=0
  j=0
  iter=1
  while(n>0):  #finding reverse
    last_digit=n%10
    sum=sum+last_digit*(10**(length-iter))   
    n=n//10
    iter+=1
  return(sum)
print(rev(2324524321))

1234254232

In [7]:
x = int(input())
y = int(input())
x, y = y, x
print(y,x)

4
5
4 5

In [9]:
a = int(input())
b = int(input())

if a > b:
  max = a
else:
  max = b

while(1):
    if((max % a == 0) and (max % b == 0)):
      lcm = max
      break
    max += 1

print(lcm)

30
50
150

In [13]:
def lcm(a,b):
  i=a  #pointing to any one of the number
  while(True):
    # =if(i%a==0 and i%b==0):
     return(i)
print(lcm(4,3))

4

In [16]:
a=50
b=10
oa=a
ob=b
while(a%b!=0):
  r=a%b
  a=b
  b=r
gcd=b
lcm=oa*ob//gcd
print(lcm)

50

In [17]:
n1 = int(input())
n2 = int(input())
dvd = n1 # dividend
div = n2 # divisor
#gcd
while(dvd % div !=0):
  rem = dvd% div

  dvd = div # new dividend
  div = rem #new divisor
gcd = div
print("GCD of n1 and n2:", gcd)

# lcm 
lcm = int((n1*n2)/gcd)
print("lcm of n1 and n2:",lcm)

20
50
GCD of n1 and n2: 10
lcm of n1 and n2: 100

In [18]:
a=3
b=4
if(a>b):
  m = a
else:
  m = b
while(True):
  if(m%a==0 and m%b==0):
    print(m)
    break
  m += 1

12

In [21]:
def hcf(a,b):
  if a>b:
    greater = a
  else:
    greater = b
  while (True):
    if(greater%a ==0 and greater%b==0):
      lcm = greater 
      break
    else:
      greater+=1
  hcf = a*b //lcm 
  return hcf

print(hcf(12,10))

2

In [33]:
print("ankit".join(["ankit", "str2"]))

ankitankitstr2

In [30]:
s1 = "abc"
s2 = "def"
print("".join([s1,s2]))

abcdef

In [35]:
a="hello"
b="world"
c="".join([a,b])
print(c)

helloworld

In [41]:
powerOfNum = lambda num,pow : num**pow
powerOfNum(2,4)

16